.fundamento {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.fundamento h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.login-button {
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #e0e0e0;
}

.login-image {
    max-width: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
