/* styles.css */

/* Estilos para el encabezado */
header {
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 28px;
}

/* Estilos para el contenedor del editor y el botón Ejecutar */
.editor {
    margin-bottom: 20px;
}

.code {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Evita que se pueda redimensionar el textarea */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

/* Estilos para el contenedor de salida */
#output {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Color de fondo gris claro */
    font-size: 16px;
}

